@font-face {
  font-family: 'Shink';
  src: url('Shink.eot');
  src: url('Shink.woff2') format('woff2'),
       url('Shink.woff') format('woff'),
       url('Shink.ttf') format('truetype'),
       url('Shink.svg#Shink') format('svg'),
       url('Shink.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

