html {
	background-color: #e6ffe6;
	font-size: 20px;
	font-family: verdana;
}

h1 {
	font-family: "Shink";
	font-size: 75px;
	background-color: rgba(255, 255, 255, 0.7);
}

h2 {
	width: 550px;
	font-family: 'lemonmilkregular';
	font-size: 30px;
	background-color: rgba(255, 255, 255, 0.7);
}

.main {
	width: 800px;
	font-family: verdana;
	font-size: 15px;
}

@font-face {
	font-family: "Shink";
	src: url("fonts/Shink.eot");
	src: 
	url("fonts/Shink.svg") format("svg"),
	url("fonts/Shink.ttf") format("truetype"),
	url('fonts/Shink.woff') format("woff"),
	url("fonts/Shink.woff2") format("woff2");
}

@font-face {
	font-family: 'lemonmilkregular';
	src: url('fonts/lemonmilk-webfont.woff2') format('woff2'),
	url('fonts/lemonmilk-webfont.woff') format('woff'),
	url('fonts/lemonmilk-webfont.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}